.Container {
  display: flex;
  width: 95%;

  margin: 0 auto;
  max-width: var(--ifm-container-width);
  padding: 10rem 0 16rem 0;
  transition: padding 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.AstronautImage {
  position: absolute;
  right: 0;
  width: 45%;
  max-width: 800px;
  opacity: 1;
}

.HeaderTitle {
  color: var(--ifm-navbar-link-color);
  font-size: 2.2rem;
  font-weight: normal;
  transition: font-size 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.SeparatorText {
  color: var(--ifm-navbar-link-active-color);
  font-size: var(--ifm-font-size-36);
}

.DescriptionText {
  color: var(--ifm-color-primary-lightest);
  font-size: var(--ifm-font-size-24);
  max-width: 400px;
  margin: 0;

  transition: font-size 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  margin-top: 1.6rem;
}

.GithubButton {
  width: 200px;
}

.GetStartedButton {
  width: 200px;
  margin-right: 20px;
}

/* mousescroll start */
.MouseContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 40px;
  z-index: 1;
}

.ScrollText {
  color: var(--ifm-color-on-background-2);
  font-weight: inherit;
  margin-left: 15px;
}

.Mouse {
  width: 25px;
  height: 45px;
  border: 2px solid var(--ifm-color-on-background-2);
  border-radius: 15px;
  position: relative;
  text-align: center;
}

.MouseWheel {
  position: relative;
  display: block;
  height: 6px;
  margin: 2px auto 0;
  width: 4px;
  background-color: var(--ifm-color-on-background-2);
  border-radius: 50%;
  -webkit-animation: wheel-up-down ease 1.6s infinite;
  animation: wheel-up-down ease 1.6s infinite;
}

@-webkit-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    margin-top: 20px;
    opacity: 0;
  }
}

@keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    margin-top: 20px;
    opacity: 0;
  }
}
/* mousescroll end */

/* typer start */
.TyperContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 5rem;
}

.TyperText {
  color: var(--ifm-navbar-link-color);
  font-size: 3rem;
  font-weight: bold;
}

.TyperCursor {
  background-color: var(--ifm-navbar-link-active-color);
  margin-left: 10px;
  margin-top: 10px;

  width: 0.6rem;
  height: 4rem;
}

.Typer_Cursor_Blink {
  -webkit-animation: blink 0.8s infinite;
  animation: blink 0.8s infinite;
}

@-webkit-keyframes blink {
  0% {
    background: transparent;
  }
  50% {
    background: var(--ifm-navbar-link-active-color);
  }
  100% {
    background: transparent;
  }
}

@keyframes blink {
  0% {
    background: transparent;
  }
  50% {
    background: var(--ifm-navbar-link-active-color);
  }
  100% {
    background: transparent;
  }
}

@media (max-width: 768px) {
  .TyperContainer {
    height: 2rem;
  }

  .TyperText {
    font-size: var(--ifm-font-size-40);
  }

  .TyperCursor {
    height: 2rem;
    width: 0.3rem;
    margin-left: 5px;
    margin-top: 5px;
  }
}


/* typer end */

@media (max-width: 996px) {
  .AstronautImage {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .Container {
    padding: 8rem 0 0 0;
    justify-content: center;
    text-align: center;
  }

  .HeaderTitle {
    font-size: var(--ifm-font-size-28);
  }

  .SeparatorText {
    font-size: var(--ifm-font-size-28);
  }

  .HeaderTyper {
    justify-content: center;
  }

  .DescriptionText {
    font-size: var(--ifm-font-size-20);
  }

  .ButtonContainer {
    flex-direction: column;
    align-items: center;
  }

  .GetStartedButton {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-height: 800px) and (max-width: 768px) {
  .Container {
    padding: 2rem 0 5rem 0 !important;
  }
}

